* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#im-d__wrapper {
  width: calc(100% - 80px);
  height: calc(100% - 80px);
}
