.im-d {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 0.75rem;
  background-color: #aaa;
  
  &--body {
    flex: 1;
    min-height: 0;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &--canvas {
    border: 1px solid #000;
    max-width: 100%;
  }
  
  &--header {
    width: 100%;
    line-height: 1.5rem;
    color: #fff;
    
    display: flex;
    flex-wrap: wrap;
  }
  
  &--filter {
    box-sizing: border-box;
    margin: 2px;
    padding: 0 8px;
    border-radius: 12px;
    background-color: #888;
    border: 1px solid #ddd;
    
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  &--file {
    display: none;
  }
  
  &--button {
    background-color: #fff;
  }
  
  &--number {
    width: 50px;
  }

  &--button {
    cursor: pointer;
    font-weight: bold;
    background-color: #777;
  }
  
  &--label {
    margin-right: 4px;
  }
  
  &--filter-image > &--label::before {
    content: 'Open Image';
  }
  
  &--filter-grayscale > &--label::before {
    content: 'Grayscale:';
  }
  
  &--filter-alpha > &--label::before {
    content: 'Alpha:';
  }
  
  &--filter-rows > &--label::before {
    content: 'N of rows:';
  }
  
  &--filter-cols > &--label::before {
    content: 'N of cols:';
  }
}
