.im-d {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 0.75rem;
  background-color: #aaa;
  z-index: 1;
  
  &__body {
    flex: 1;
    min-height: 0;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &__canvas {
    border: 1px solid #000;
    max-width: 100%;
    max-height: 100%;
  }
  
  &__header {
    width: 100%;
    line-height: 1.5rem;
    color: #fff;
    
    display: flex;
    flex-wrap: wrap;
  }
  
  &__filter {
    box-sizing: border-box;
    margin: 2px;
    padding: 0 8px;
    border-radius: 12px;
    background-color: #888;
    border: 1px solid #ddd;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
  }
  
  &__file {
    display: none;
  }
  
  &__button {
    background-color: #fff;
  }
  
  &__number {
    width: 50px;
  }
  
  &__button {
    cursor: pointer;
    font-weight: bold;
    background-color: #777;
    
    &:hover {
      background-color: #888;
    }
  }
  
  &__label {
    margin-right: 4px;
  }
  
  &__filter-image > &__label::before {
    content: 'Open Image';
  }
  
  &__filter-grayscale > &__label::before {
    content: 'Grayscale:';
  }
  
  &__filter-alpha > &__label::before {
    content: 'Alpha:';
  }
  
  &__filter-rows > &__label::before {
    content: 'N of rows:';
  }
  
  &__filter-cols > &__label::before {
    content: 'N of cols:';
  }
}
